*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --text-color:#040407;
    --background:#ebecf4;
    --primary-clor:#2255ff;
    --secondary-color:#d8dae9;
    --accent:#21243b;
}

body{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    align-items: center;
    width: 80%;
}

h1{
        color: var(--text-color);
}

input{
    max-width: 400px;
    width: 100%;
    padding: 10px;
    border: var(--primary-clor) 2px solid;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 7px;
    transition: box-shadow 0.6s ease;
}

input:not(input[type="submit"]):hover,input:not(input[type="submit"]):focus{
    box-shadow: 0px 0px 16px 2px var(--primary-clor);
}



input[type="submit"].enviar{
    background-color: var(--accent);
    color: var(--background);
    width: 100px;
    cursor: pointer;
    transition: transform 0.5s ease, background-color 0.5s ease;
}
input[type="submit"].enviar:hover{
    transform: scale(1.1);
    background-color: hsl(233, 28%, 28%);
}

select{
    max-width: 400px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 7px;
    border: var(--primary-clor) 2px solid;
}